.component {
  display: flex;
  justify-content: space-between;
  padding-top: 1rem;
}

.wordmark {
  color: var(--black);
  cursor: pointer;
  font-weight: bold;
  outline: 0;
  text-decoration: none;
}

.wordmark:hover {
  text-decoration: underline;
}

.add {
  cursor: pointer;
  outline: 0;
}
