.headingWithIcon {
  display: flex;
  justify-content: space-between;
}

.textSection {
  margin: 3em auto;
}

.textSection:first-child {
  margin-top: 0;
}

.centered {
  text-align: center;
}

p,
label {
  font-family: Georgia, Times, 'Times New Roman', serif;
  line-height: 1.5em;
}

.link {
  text-decoration: none;
}

.input {
  outline: none;
  border-bottom: 1px dotted #999;
}

.refresh {
  cursor: pointer;
  margin-left: 10px;
}