.autorenew svg {
  color: var(--black);
  transition: transform .3s ease-out;
}

.autorenew:hover svg {
  transform: scale(1.1) rotate(15deg);
}

.addCircleOutline svg {
  color: var(--black);
  transition: transform .3s ease-out;
}

.addCircleOutline:hover svg {
  transform: scale(1.1);
}